<% include ./partiale/header %>
<br>
<% include ./partiale/messages %>

<br>

<div class="jumbotron card card-body text-center myDiv">
  <h1 class="display-4">All in <b>One</b></h1>
  <p class="lead">Welcome for our company</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <br><br>
  <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;"> 
          <img src="../public/image/node-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Node Js</h5>
          <p class="card-text">NodeJS, or simply Express, is a web application framework for Node.js,</p>
          <a href="https://nodejs.org/en/" class="btn btn-dark">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;"> 
          <img src="../public/image/expressJS-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Express JS</h5>
          <p class="card-text">Express.js, or simply Express, is a web application framework for Node.js,</p>
          <a href="https://expressjs.com/" class="btn btn-dark">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
          <img src="../public/image/ejs-image.gif" class="card-img-top" alt="..."> 
        <div class="card-body">
          <h5 class="card-title">Ejs</h5>
          <p class="card-text">EJS, or simply Express, is a web application framework for work Node.js.</p>
          <a href="https://ejs.co/" class="btn btn-dark">Read more...</a>
        </div>
      </div>
    </div>
</div>
<% include ./partiale/footer %>